<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div formGroupName="identifierGroup">
    <div class="form-group">
      <label for="id">Identifiant</label>
      <input type="text" formControlName="id" id="id" />
    </div>
    <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" formControlName="titre" id="titre" />
    </div>
  </div>

  <div class="form-group">
    <label for="type">Type</label>
    <select formControlName="type" id="type">
      <option value="film">Film</option>
      <option value="serie">Série</option>
      <option value="episode">Épisode</option>
    </select>
  </div>

  <div class="form-group">
    <label for="anneedesortie">Année de sortie</label>
    <input type="number" formControlName="anneedesortie" id="anneedesortie" />
  </div>

  <div class="form-group" *ngIf="searchForm.get('identifierGroup.id')?.value">
    <label for="fiche">Fiche</label>
    <select formControlName="fiche" id="fiche">
      <option value="complete">Complète</option>
      <option value="courte">Courte</option>
    </select>
  </div>

  <button type="submit" [disabled]="!searchForm.valid">Rechercher</button>
</form>
<!-- Display validation messages -->
<div *ngIf="searchForm.invalid && (searchForm.dirty || searchForm.touched)">
  <div *ngIf="searchForm.get('identifierGroup')?.hasError('isRequired')">
    L'un des deux champs 'Identifiant' ou 'Titre' doit être renseigné.
  </div>
  <div *ngIf="searchForm.get('releaseYear')?.hasError('required')">
    L'année de sortie est requise.
  </div>
  <div
    *ngIf="
      searchForm.get('releaseYear')?.hasError('min') ||
      searchForm.get('releaseYear')?.hasError('max')
    "
  >
    L'année doit être comprise entre
    {{ searchForm.get("anneedesortie")?.getError("min").min }} et
    {{ searchForm.get("anneedesortie")?.getError("min")?.max }}.
  </div>
</div>
